<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js" integrity="sha512-LW9+kKj/cBGHqnI4ok24dUWNR/e8sUD8RLzak1mNw5Ja2JYCmTXJTF5VpgFSw+VoBfpMvPScCo2DnKTIUjrzYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script type="text/javascript">
  var mardown_toc_exist = document.getElementById("markdown-toc");
  if(typeof(mardown_toc_exist) != 'undefined' && mardown_toc_exist != null){
    document.getElementById('markdown-toc').style.display='none';
  }
  var toc_exist = document.getElementById("toc");
  if(typeof(toc_exist) != 'undefined' && toc_exist != null && document.getElementById('markdown-toc')){
    document.getElementById('toc').innerHTML = document.getElementById('markdown-toc').innerHTML;
  }
</script>

<footer class="pt-3 mt-4 text-muted border-top">
  <div class="container">
    &copy; {{ "now" | date: "%Y" }} &nbsp;&nbsp;&nbsp;
    <a href="{{ "/service/legal_notice.html" | relative_url }}">Legal Notice</a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://docs.github.com/en/site-policy/privacy-policies/github-data-protection-agreement">Data protection</a>
  </div>
</footer>
