---

---
@charset "utf-8";


@import "variables";
@import "bootstrap/bootstrap";
@import "bootswatch";

.navbar-expand-lg .navbar-nav .active .nav-link {
    text-decoration: underline;
}
.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}
.jumbotron {    
    background-color: #fff;
    /*border-radius: .3rem;*/
    border-bottom: 3em solid #8db427;
}
.jumbotron .container {
    padding-bottom: 3em;
    padding-top: 3em;
}
.hirse-jumbotron-small .container {
    padding-bottom: 1em;
    padding-top: 1em;
}

h1 {
    margin-bottom: 1em;
}