<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png"  href="{{ "/assets/favicon.ico" | relative_url }}">
  </head>
  <body>
    <div class="jumbotron"></div>
    {% include navbar.html %}
    <main>
    <div class="container">
      {{ page.content | remove_first: page.excerpt }}
      {% if page.location %}
      <a href="https://google.com/maps/search/{{ page.location | replace:' ','+' }}" target="_blank"
         title="Event's location: {{ page.location }}. Find on Google Maps!"
         data-toggle="tooltip" data-placement="bottom">
      {% endif %}
      <!-- {% if page.link %}
      <a href="{{ page.link }}">{{ page.link }}</a>
      {% endif; %} -->
    </div>
    {% include footer.html %}
    </main> 
  </body>
</html>
