<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png"  href="{{ "/assets/favicon.ico" | relative_url }}">
  </head>
  <body>
    <div class="jumbotron"></div>
    {% include navbar.html %}
    <main>
    <div class="container">
      {{ content }}
    </div>
    {% include footer.html %}
    </main> 
  </body>
</html>