---
layout: news
---

{{ content }}
<div class="container">
  {% assign all_codes = site.codes %}
  {% for post in all_codes %}
  <div class="row mb-5">
      <h2><a href="{{ post.url |  prepend: site.baseurl}}">{{ post.title }}</a></h2>
      
      {% if post.Code_Head %}
        <div>Code_Head: {{ post.Code_Head }}</div>
      {% endif %}

      {% if post.Members %} 
        <div>Members: {{ post.Members | join: ', ' | escape }}</div>
      {% endif %}
        
      {% if post.Topics %}
        <div>Topics: {{ post.Topics | join: ', ' | escape }}</div>
      {% endif %}   
    </div>
    <hr>
    {% endfor %}  
  </div>

