<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png"  href="{{ "/assets/favicon.ico" | relative_url }}">
    {% if page.Keywords %}
      <meta name="Keywords" content="{{ page.Keywords | join: ', ' | escape }}">
    {% endif %}
  </head>
  <body>
    {% include jumbotron_small.html %}
    {% include navbar.html %}
    <main>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content | inject_anchors }}
        </div>    
        <div class="col-md-4 sidebar">  
          <p class="fs-5 fw-semibold "style="margin: 1em;">Project Profile </p>      
          <div class="list-group list-group-flush border-bottom scrollarea">        
            {% for var in page %}
            {% if var != "next" and 
                  var != "path" and
                  var != "id" and
                  var != "tags" and
                  var != "content" and
                  var != "previous" and
                  var != "output" and
                  var != "url" and
                  var != "relative_path" and
                  var != "title" and
                  var != "categories" and
                  var != "date" and
                  var != "excerpt" and
                  var != "draft" and
                  var != "layout" and
                  var != "toc" and
                  var != "slug" and
                  var != "ext" and
                  var != "collection"                   
                  %}
              {% if var == "Link" %}
                <span class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{ var }}</strong>
                  </div>
                  <div class="col-12 mb-1 small"><a href="{{ page[var] }}">{{ page[var] }}</a></div>
                </span> 
               
              {% else %}
                <span class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{ var }}</strong>
                  </div>
                  <div class="col-12 mb-1 small">{{ page[var] }}</div>
                </span> 
              {% endif %}
            {% endif %}
            {% endfor %}
            
           
          </div> 
          
          {% if page.toc == true %}  
          <p class="fs-5 fw-semibold "style="margin: 1em;">Table of Contents </p>      
          <div class="list-group list-group-flush border-bottom scrollarea">
            <ul id="toc"></ul>
          </div>          
        {% endif %} 

      </div>
    </div>
    {% include footer.html %}
    </main> 
  </body>
</html>
