<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png"  href="{{ "/assets/favicon.ico" | relative_url }}">
    {% if page.Keywords %}
      <meta name="Keywords" content="{{ page.Keywords | join: ', ' | escape }}">
    {% endif %}
  </head>
  <body>
    <div class="jumbotron"></div>
    {% include navbar.html %}
    <main>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>    
        <div class="col-6 col-md-4 sidebar">  
          <p class="fs-5 fw-semibold "style="margin: 1em;">Project Profile </p>      
          <div class="list-group list-group-flush border-bottom scrollarea">
            {% if page.Topics %}
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Topics</strong>
              </div>
              <div class="col-12 mb-1 small">{{ page.Topics }}</div>
            </a>
            {% endif %}
            {% if page.Keywords %}
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Keywords</strong>
              </div>
              <div class="col-12 mb-1 small">{{ page.Keywords | join: ', ' | escape }}</div>
            </a>
            {% endif %}
            {% if page.Project_Head %}
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Project Head</strong>
              </div>
              <div class="col-12 mb-1 small">{{ page.Project_Head }}</div>
            </a>
            {% endif %}
            {% if page.Members %}
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Members</strong>
              </div>
              <div class="col-12 mb-1 small">{{ page.Members | join: ', ' | escape }}</div>
            </a>
            {% endif %}
            {% if page.Status %}
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">Status</strong>
              </div>
              <div class="col-12 mb-1 small">{{ page.Members }}</div>
            </a>
            {% endif %}        
          </div>    
        </div>
      </div>
    </div>
    {% include footer.html %}
    </main> 
  </body>
</html>
