<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png"  href="{{ "/assets/favicon.ico" | relative_url }}">
  </head>
  <body>
    {% include jumbotron_small.html %}
    {% include navbar.html %}
    <main>
       
    <div class="container">
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      {{ content }}
    </div>
    {% include footer.html %} 
    </main>
  </body>
</html>
